body {
  color: var(--mediumBlue);
  font-family: 'Roboto', sans-serif;
  /* opacity: 0; */
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

:root {
  --bigText: #E9F4FC;
  --darkBlue: #0A2B43;
  --lightBlue: #4CA6E5;
  --mediumBlue: #0F4368;
  --playBtn: #BCDEF5;
}

.webPage {
  height: 92vh;
}

/* <!-- CONTAINER --> */
#container {
  height: 100vh;
  width: 100vw;
}

/* <!-- NAVIGATION --> */
#topBar {
  height: 8vh;
  justify-content: flex-start;
}

#logo {
  position: relative;
  top: -0.6em;
  width: 40%;
}

#logo img {
  height: 14em;
  left: 4em;
  left: 16em;
  opacity: 0.5;
  opacity: 0.1;
  position: absolute;
  top: 1.4em;
  top: 18em;
  transform: scale(2);
}

#navigation {
  position: relative;
  top: -0.4em;
  width: 50%;
  z-index: 10;
}

#navigation p {
  font-size: 0.8em;
  font-weight: 100;
  margin: 0 2em;
}

#navigation p.active {
  font-weight: 300;
  /* text-decoration: underline; */
  transform: scale(1.4);
}

/* <!-- HOME PAGE --> */
#homePage {
  position: relative;
  width: 100vw;
}

#homeLargeText {
  /* left: 0; */
  position: absolute;
  top: 0;
  z-index: 1;
}

#homePageLargeTextP {
  color: var(--darkBlue);
  font-size: 22em;
  opacity: 0.2;
  position: relative;
  text-align: center;
  top: -0.32em;
  width: 100%;
}

.homePageLargeTextP {
  left: 0.64em;
}

#featuredArtist {
  width: 76vw;
  position: relative;
}

.featuredArtist {
  left: 0;
}

#featuredArtistImg {
  /* background-color: var(--darkBlue); */
  background: radial-gradient(#0F4368, #0A2B43);
  height: 96%;
  overflow: hidden;
}

#featuredArtistImg img {
  left: 20%;
  position: relative;
}

#migh,
#ty {
  top: 0;
  font-size: 22em;
  position: absolute;
  justify-content: flex-end;
}

#ty {
  left: 0;
  justify-content: flex-start;
}

#migh p,
#ty p  {
  position: relative;
  top: -3px;
  left: 0.07em;
  opacity: 0.2;
  color: #fff;
}

#ty p {
  color: var(--darkBlue);
}

#playlist {
  width: 24vw;
  z-index: 2;
  position: relative;
}

#playlistHolder {
  height: 80%;
  position: relative;
}

#audioPlayer {
  height: 20em;
  left: -50em;
  position: absolute;
  width: 50em;
  z-index: 4;
}

#playBtnHolder {
  height: 16em;
  left: -5em;
  position: relative;
  top: 17em;
  width: 16em;
}

#playBtnOutterCircle {
  background-color: var(--darkBlue);
  border-radius: 50%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

#playBtnInnerCircle {
  background-color: var(--playBtn);
  border-radius: 50%;
  opacity: 0.05;
  position: absolute;
}

#sound {
  font-size: 1.2em;
  left: 39.8em;
  opacity: 0.2;
  position: absolute;
  top: 6.28em;
}

.playBtn {
  background-color: var(--darkBlue);
  border-radius: 50%;
  font-size: 4em;
  position: absolute;
}

.playBtn::after {
  background-color: #000;
  content: '';
  height: 0.08em;
  left: 100%;
  opacity: 0.4;
  position: absolute;
  top: 50%;
  width: 8.8em;
}

#playBar {
  background-color: #ccc;
  height: 0.02em;
}

.itunesLogo {
  font-size: 8em;
  left: -0.4em;
  opacity: 0.3;
  position: relative;
}

#playlistSectionHolder {
  -moz-box-shadow: 10px 10px 15px -8px rgba(221,221,221,1);
  -webkit-box-shadow: 10px 10px 15px -8px rgba(221,221,221,1);
  box-shadow: 10px 10px 15px -8px rgba(221,221,221,1);
  height: 44em;
  left: -5em;
  overflow: scroll;
  position: absolute;
  top: 4em;
  width: 14em;
  z-index: 4;
}

#playlistSection {

}

#nowPlaying {
  background-color: var(--darkBlue);
  color: #fff;
  font-size: 1.6em;
  margin: 0;
  opacity: 0.8;
  padding: 0.4em;
  position: absolute;
  top: 48.4%;
  width: 18em;
  z-index: 2;
}

.track {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1.2em 0;
  position: relative;
}

.selectedSong {
  background-color: #0F4368;
  border: 0.2em solid #0F4368;
  border-bottom-width: 0.4em;
  border-radius: 0.2em;
  border-top-width: 0;
  color: #fff;
  padding: 0 0.8em;
  position: relative;
}

/* <!-- ABOUT PAGE --> */
#aboutPage {
  position: relative;
}

#aboutPageBackLayer {
  background-color: var(--darkBlue);
}

#aboutScreen {
  background-color: #000;
  position: relative;
}

.aboutScreen {
  top: -8%;
}

#aboutScreenText {
  height: 60em;
  left: -4em;
  position: relative;
  width: 60em;
}

#aboutLogoBox {
  background-color: var(--darkBlue);
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-radius: 50%;
}

#aboutP {
  color: #eee;
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: 1px;
  text-align: center;
}

#aboutImg {
  background-color: #bbb;
  background-image: url('../img/studio.png');
  background-size: cover;
  bottom: 0;
  height: 46em;
  position: absolute;
  width: 46em;
}

.aboutImg {
  right: 0;
}

/* <!-- ARTIST PAGE --> */
#artistPage {

}

#artistSlideShowSection {
  align-items: flex-end;
  position: relative;
}

#artistImg {
  color: #fff;
  font-weight: 100;
}

.artistSection {
  display: inline-block;
}

.artistSectionPadding {
  background-color: #eee;
}

#artistCircleHolder {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 4;
}

#artistOutterCircle {
  border: 0.001em solid var(--mediumBlue);
  border-radius: 50%;
  height: 36em;
  margin: 0 auto;
  opacity: 0.8;
  position: relative;
  top: -3em;
  width: 36em;
}

#artistInnerCircle {
  border: 0.3em solid var(--darkBlue);
  border-radius: 50%;
  position: relative;
}

#artistInnerCircle::after {
  background-color: var(--darkBlue);
  content: '';
  height: 14em;
  left: 49%;
  position: absolute;
  top: 100%;
  width: 0.1em;
}

.artistSideNameLeft,
.artistSideNameRight {
  opacity: 0.6;
  position: relative;
  top: -6em;
}

.artistSideNameRight {
  left: -4.4em;
}

.artistSideNameLeft {
  left: 4.4em;
}

#artistBioSection {
  background-color: var(--darkBlue);
  color: #fff;
  font-weight: 100;
  position: relative;
}

#artistBioSectionName {
  font-size: 2em;
  margin-top: 0;
}

#artistBioP {
  overflow: scroll;
  font-size: 0.9em;
  line-height: 2em;
  margin: 0;
  text-align: center;
}

#middleArtistImg {
  background-image: url('../img/a3.png');
  background-size: cover;
  width: 26em;
  z-index: 2;
}

#leftArtistImg,
#rightArtistImg {
  opacity: 0.4;
  position: relative;
  width: 20em;
  z-index: 1;
}

#leftArtistImg {
  background-image: url('../img/a1.png');
  background-size: cover;
}

.leftArtistImg {
  left: 4.4em;
}

#rightArtistImg {
  background-image: url('../img/a2.png');
  background-size: cover;
}

.rightArtistImg {
  left: -4.4em;
}

/* <!-- STAFF PAGE --> */
#staffPageTop {
  justify-content: flex-end;
  position: relative;
}

#staffPageBackImg {
  background-color: var(--darkBlue);
  left: 0;
  position: absolute;
  top: 0;
}

#staffPageBackImgFaded {
  /* background-image: url('../img/musicStudio.jpg'); */
  background-size: 100% 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
}

#staffPageBackImgSmallHolder {
  left: 0;
  position: absolute;
  top: 0;
}

#staffPageBackImgSmall {
  /* background-image: url('../img/musicStudio.jpg'); */
  background-size: 100% 100%;
  height: 32em;
  margin: 12% auto;
  width: 76em;
  z-index: 4;
}

#staffPageTopBottom {
  align-items: flex-end;
  position: relative;
  top: 4em;
  z-index: 2;
}

#staffPageBigText {
  color: #fff;
  font-size: 9em;
  font-weight: 100;
  margin: 0;
  position: relative;
}

.staffPageBigText {
  top: 0;
}

#staffPageBottom {

}

#staffPageBottom p {
  word-spacing: 6em;
}

/* <!-- SERVICES PAGE --> && <!-- CONTACT --> */
#servicesPageLeftSide,
#contactPageRightSide {
  background-color: var(--darkBlue);
  position: relative;
  transition: top 1s;
}

#servicesPageLeftSide p,
#contactPageRightSide p {
  color: #fff;
  font-size: 1.4em;
  font-weight: 100;
}

.servicesPageLeftSide,
.contactPageRightSide {
  top: 0;
}

#servicesPageRightSide .heading,
#contactPageLeftSide .heading {
  font-size: 4em;
  font-weight: 100;
}

#servicesPageRightSide,
#contactPageLeftSide {
  align-items: flex-start;
}

#servicesPageRightSide > * ,
#contactPageLeftSide > * {
  margin-left: 6rem;
}

#servicesPageRightSide .list,
#contactPageLeftSide .list {
  font-size: 1.4em;
  font-weight: 300;
}

#buildat {
  color: #fff;
  text-decoration: none;
}

#buildat a {
  color: #fff;
  text-decoration: none;
}

#buildat a span {
  opacity: 0.6;
}

.socialmedia a {
  color: #fff;
  font-size: 3.2em;
  margin: 0 0.25em;
  opacity: 0.4;
}

#contactPageRightSide p#copywrite {
  font-size: 1em;
  margin: 0;
  margin-top: 4em;
  opacity: 0.4;
}
