<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mighty works media</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="./css/master.css">
    <link rel="stylesheet" href="./css/animations.css">
    <link rel="stylesheet" href="./css/library.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
  <body ng-app='app' ng-controller='ctrl' ng-cloak>

    <!-- CONTAINER -->
    <div id="container" class="">

      <!-- NAVIGATION -->
      <div id="topBar" class="flexRow fullWidth">
        <div id="logo" class="flexRow fullHeight">
          <img src="./img/logo.png" alt="mightworksmedialogo" class="h70">
        </div>
        <div id="navigation" class="flexRow fullHeight">
          <p class="pointer" ng-class="nav['home']" ng-click='navigateTo("home")'>HOME</p>
          <p class="pointer" ng-class="nav['about']" ng-click='navigateTo("about")'>ABOUT</p>
          <p class="pointer" ng-class="nav['artist']" ng-click='navigateTo("artist")'>ARTIST</p>
          <p class="pointer" ng-class="nav['staff']" ng-click='navigateTo("staff")'>STAFF</p>
          <p class="pointer" ng-class="nav['contact']" ng-click='navigateTo("contact")'>CONTACT</p>
        </div>
      </div>

      <!-- HOME PAGE -->
      <div id="homePage" class="fullWidth flexRow webPage ">
        <div id="homeLargeText" class="fullSize">
          <p class="fullWidth"><span style="color: #fff">MIGH</span>TY</p>
        </div>
        <div id="featuredArtist" class="fullHeight">
          <div id="featuredArtistImg" class="fullWidth">
            <img src={{featureImg}} alt="">
          </div>
        </div>
        <div id="playlist" class="flexCol fullHeight">
          <div id="playlistHolder" class="">
            <div id="audioPlayer" class="">
              <div id="playBtnHolder" class="flexRow fullHeight">
                <div id="playBtnOutterCircle" class="fullSize"></div>
                <div id="playBtnInnerCircle" class="w70 h70"></div>
                <i id="sound" class="fas fa-volume-up"></i>
                <div id="playBtn" ng-click='toggleMusic()' ng-if='playMusic === false' class="playBtn flexRow w55 h55">
                  <i class="fas fa-play"></i>
                </div>
                <div ng-click='toggleMusic()' ng-if='playMusic === true' class="playBtn flexRow w55 h55">
                  <i class="fas fa-pause"></i>
                </div>
              </div>
              <div id="playBar" class=""></div>
            </div>
            <div class="itunesLogo flexRow">
              <i class="fab fa-itunes"></i>
            </div>
            <div id="playlistSectionHolder" class="">
              <div id="playlistSection" class="flexCol">
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p data={{$index}} ng-click='playSong($index)' class="track pointer" ng-repeat='playListSong in playList track by $index'>{{playListSong.track}}</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
                <p style="opacity: 0">---------------------------------</p>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end: HOME PAGE -->

      <!-- ABOUT PAGE -->
      <div id="aboutPage" class="flexRow fullWidth webPage none">
        <div id="aboutPageBackLayer" class="fullWidth h90">
          <div id="aboutScreen" class="flexRow h90 w80">
            <div id="aboutScreenText" class="flexCol">
              <div id="aboutLogoBox" class="w30 h30"></div>
              <p id="aboutP" class="w40">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein.</p>
            </div>
          </div>
          <div id="aboutImg" class=""></div>
        </div>
      </div>

      <!-- ARTIST PAGE -->
      <div id="artistPage" class="flexCol fullWidth webPage none">
        <div id="artistSlideShowSection" class="flexRow h65 fullWidth">
          <div id="artistCircleHolder" class="fullSize">
            <div id="artistOutterCircle" class="flexRow">
              <div id="artistInnerCircle" class="h80 w80">

              </div>
            </div>
          </div>
          <p class="artistSideNameLeft">Ed Sheeran</p>
          <div id="leftArtistImg" class="h80">

          </div>
          <div id="middleArtistImg" class="h95">

          </div>
          <div id="rightArtistImg" class="h80">

          </div>
          <p class="artistSideNameRight">Ed Sheeran</p>
        </div>
        <div id="artistBioSection" class="flexCol h35 fullWidth">
          <p id="artistBioSectionName">Ed Sheeran</p>
          <p id="artistBioP" class="w35">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und.</p>
        </div>
      </div>

      <!-- STAFF PAGE -->
      <div id="staffPage" class="flexCol fullWidth webPage none">
        <div id="staffPageTop" class="h70 fullWidth flexCol">
          <div id="staffPageBackImg" class="fullSize">
            <div id="staffPageBackImgFaded" class="fullSize"></div>
            <div id="staffPageBackImgSmallHolder" class="fullSize">
              <div id="staffPageBackImgSmall" class=""></div>
            </div>
          </div>
          <div id="staffPageTopBottom" class="flexRow fullWidth h75">
            <p id="staffPageBigText">MIGHTY WORKS MEDIA</p>
          </div>
        </div>
        <div id="staffPageBottom" class="flexRow h30">
          <p>name name name name name name name name</p>
        </div>
      </div>

    </div> <!-- end: CONTAINER -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>

    <style media="screen">

      .playBtn::before {
        position: absolute;
        content: '';
        background-color: #fff;
        height: 0.08em;
        transition: width 0.6s;
        left: 100%;
        top: 50%;
        width: {{playingBarWidth}};
      }

    </style>

  </body>
</html>
